.btn {
  display: flex;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: .5s;
  padding: 19px 64px;

  &__icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 8px;

    svg {
      max-width: 100%;
      display: inline-block;
    }
  }

  &_white {
    background-color: #FFFFFF;
    color: #3B88EF;

    &:hover,
    &:focus {
      background-color: #E6E6E6;
    }
  }

  &_warm {
    background-color: #FF7436;
    color: #FFFFFF;

    &:hover,
    &:focus {
      background-color: #FFA44F;
    }

    &:active {
      background-color: #E66831;
    }
  }

  &_stroke {
    background-color: transparent;
    border-color: #FFFFFF;
    color: #FFFFFF;

    &:hover,
    &:focus {
      background-color: #FFFFFF;
      color: #3B88EF;
    }

    &:active {
      background-color: #E6E6E6;
      border-color: #E6E6E6;
      color: #3B88EF;
    }
  }

  &_stroke-blue {
    color: #3B88EF;
    border-color: #3B88EF;

    &:hover,
    &:focus {
      background-color: #3B88EF;
      color: #FFFFFF;
    }

    &:active {
      background-color: #3274CC;
      border-color: #3274CC;
      color: #FFFFFF;
    }
  }
}

.btn_play {
  position: absolute;
  display: inline-block;
  border: none;
  width: 47px;
  height: 48px;
  background-color: transparent;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;


  &:before {
    position: absolute;
    content: '';
    display: block;
    width: 47px;
    height: 48px;
    background-image: url(../assets/img/play-video.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
}

@include respond-to($lg){
  .btn{
    border-radius: 5px;
  }
}