.text {
  &_xl {
    font-size: 54px;
  }

  &_lg {
    font-size: 60px;
  }

  &_md {
    font-size: 40px;
  }

  &_sm {
    font-size: 30px;
  }
}

.title {

  &_lg {
    font-size: 62px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &_md {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &_sm {
    font-size: 24px;
  }

  @include respond-to($xs) {
    &_lg{
      font-size: 34px;
    }
    &_md {
      font-size: 16px;
    }
  }
}




