.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  background-color: transparent;
  z-index: 100;
  padding: 0 40px;
  &__inner{
    display: flex;
    justify-content: space-between;
    padding: 12px 40px;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0 10px 15px rgba(44, 102, 179, 0.15);
    border-radius: 100px;

  }

  &__logo {
    width: 189px;
    display: inline-block;
    margin-left: 40px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
