.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  background-color: transparent;
  padding: 0 40px;
  z-index: 1000;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 12px 40px;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0 10px 15px rgba(44, 102, 179, 0.15);
    border-radius: 100px;

  }

  &__logo {
    width: 189px;
    display: inline-block;
    margin-left: 40px;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.btn-burger {
  display: none;
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  z-index: 950;

  .line {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #3B88EF;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 0;
      transform-origin: left center;
    }

    &:nth-child(2) {
      top: 11px;
      transform-origin: left center;
    }

    &:nth-child(3) {
      top: 22px;
      transform-origin: left center;
    }
  }

  &.open .line {
    &:nth-child(1) {
      transform: rotate(45deg);
      top: 3px;
      left: 4px;
    }

    &:nth-child(2) {
      width: 0;
      opacity: 0;
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
      top: 20px;
      left: 4px;
    }
  }
}

@include respond-to($lg) {
  .header__nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
    width: 100%;
    max-width: 910px;
    background-color: transparent;
    z-index: 900;

    &.open {
      display: block;
    }
  }
  .btn-burger {
    display: block;
  }
}
