
.container {
  max-width: 1366px;
  padding: 0 60px;
  width: 100%;
  margin: 0 auto;


  @include respond-to($xl) {
    max-width: 1260px;
    padding: 0 30px;
  }

  @include respond-to($lg) {
    max-width: 992px;
    padding: 0 20px;
  }

  @include respond-to($md) {
    max-width: 767px;
    padding: 0 40px;
  }

  @include respond-to($xs) {
    padding: 0 20px;
  }
}
