.section-how-take {
  position: relative;
  padding-top: 157px;
  padding-bottom: 80px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: -6.5%;
    top: -30%;
    width: 439px;
    height: 478px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url("../assets/img/leafes-bg-left.svg");
  }

  &__footer {
    background: #2F766E;
    border-radius: 10px;
    color: #FFFFFF;
    margin-top: 80px;
    padding: 40px 20px;

    &-title {
      font-size: 39px;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .part_left {
    display: flex;
    align-items: flex-start;
    width: 53.25%;
    padding-top: 30px;

    img {
      width: 100%;
    }
  }

  .part_right {
    width: 46.75%;
  }

  .btns-wrap {
    padding-top: 68px;

    .btn {
      padding: 19px 20px;
      flex-grow: 1;
    }
  }
  &__title{
    display: none;
  }
}

.card-take {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 583px;
  padding: 20px 40px;
  background-color: #FFFFFF;
  color: #000000;
  margin-bottom: 28px;
  border: 1px solid #F2EFED;
  border-radius: 10px;
  align-items: center;

  &:after {
    position: absolute;
    content: '';
    display: block;
    width: 90%;
    height: 10px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);

    background-color: #FF7436;
    opacity: 0.25;
    filter: blur(9.5px);
    border-radius: 10px;
    z-index: -1;
  }

  &__icon {
    width: 90px;
    height: 93px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    flex-shrink: 0;
    margin-right: 20px;
  }

  &:nth-child(1) {
    .card-take__icon {
      background-image: url(../assets/img/ic_application_1.svg);
    }
  }

  &:nth-child(2) {
    .card-take__icon {
      background-image: url(../assets/img/ic_application_2.svg);
    }
  }

  &:nth-child(3) {
    .card-take__icon {
      background-image: url(../assets/img/ic_application_3.svg);
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

}
@include respond-to($lg) {
  .section-how-take {
    &:before {
      display: none;
    }
  }
}
@include respond-to($md) {
  .section-how-take {
    .d-flex {
      flex-wrap: wrap;
    }

    .part_right,
    .part_left {
      width: 100%;
    }

    .part_left {
      img {
        width: 90%;
        margin: 0 auto;
      }
    }

    .part_right {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .btns-wrap {
      width: 100%;
      max-width: 583px;
      padding-top: 30px;
      margin: 0 auto;
    }
  }
}

@include respond-to($sm) {
  .section-how-take {
    padding-top: 80px;
  }
  .section-how-take__footer {
    padding: 20px;
  }
  .section-how-take__footer-title {
    font-size: 30px;
  }
}


@include respond-to($xs) {

  .section-how-take__footer-title {
    font-size: 16px;
  }
  .section-how-take__footer {
    margin-top: 30px;
    padding: 10px;
    border-radius: 4px;
  }
  .card-take {
    margin-bottom: 20px;
  }
  .section-how-take .btns-wrap {
    display: block;
    padding-top: 10px;

    .btn {
      margin-right: 0;
      margin-bottom: 10px;
      padding: 10px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .section-how-take__title{
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    margin: 0 auto 8px;
    .title_lg{
      font-size: 34px;
      color: #3B88EF;
    }
  }
}
