.section-circumstances {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url('../assets/img/leafes-bg.svg') center center no-repeat;
    width: 435px;
    height: 306px;
    display: block;
    pointer-events: none;
    transform: translateY(-40%);
    -webkit-background-size: 100%;
    background-size: 100%;
    z-index: 2;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 4px;
    left: -24px;
    background: url(../assets/img/leafes-bt-bg.svg) center center no-repeat;
    width: 356px;
    height: 439px;
    display: block;
    pointer-events: none;
    z-index: 2;
  }

  .section-bg {
    height: 163px;
    width: 100%;
    background: url('../assets/img/wave_blue_light.svg') left center repeat-x;
    -webkit-background-size: auto 100%;
    background-size: 208px 224px;
    margin-bottom: -1px;
  }
}

.section-circumstances__inner {
  padding: 100px 0;
  background-color: #3B88EF;
}

.circumstances-layout {
  position: relative;
  min-height: 400px;
  z-index: 10;
}

.circumstances-content {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 600;
  //font-size: 20px;
  line-height: 24px;
  color: #39414D;

  &__part {
    display: flex;
    flex-direction: column;
    width: 33.33%;

    &:last-child {
      justify-content: flex-end;
      transform: translateY(50px);
    }
  }

  ul {
    padding-left: 20px;

    li {
      list-style-type: disc;

      &::marker {
        color: #D9D9D9;
      }
    }
  }
}

.circumstances-item {
  position: relative;
  display: flex;
  background: #FFFFFF;
  border: 2px solid #3365A1;
  border-radius: 10px;
  color: #39414D;
  max-width: 380px;
  padding: 20px 19px;
  margin-bottom: 32px;

  &:after {
    position: absolute;
    content: '';
    display: block;
    width: 90%;
    height: 25px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);

    background-color: #13253B;
    opacity: 0.25;
    filter: blur(9.5px);
    border-radius: 10px;
    z-index: -1;
  }


  &__title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
    color: #3B88EF;
    line-height: 1.2;
  }

  &__index {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    background-color: #FFC438;
    margin-right: 10px;
    font-size: 12px;
    color: #fff;
    border-radius: 50%;
    flex-shrink: 0;
  }

  sup {
    font-size: 0.65em;
  }
}

.circumstances-image {
  position: absolute;
  width: 36%;
  left: 50%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 0;

  img {
    position: relative;
    left: 50%;
    width: 110%;
    transform: translateX(-60%);
  }
}

.circumstances-footer {
  padding-top: 143px;
  display: flex;
  justify-content: center;
}


@include respond-to($lg) {
  .section-circumstances {
    &:before,
    &:after {
      display: none;
    }
  }
  .circumstances-layout {
    display: flex;
    align-items: flex-end;
  }

  .circumstances-image {
    position: absolute;
    width: 50%;
    left: 0;
    top: 0;
    -webkit-transform: none;
    transform: none;
  }

  .circumstances-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    order: 2;
  }
  .circumstances-content__part {
    width: 100%;
    display: block;

    &:last-child {
      transform: none;

      .circumstances-item:last-child {
        margin: 0;
      }
    }
  }
  .circumstances-item {
    margin: 0 0 28px;
  }
  .circumstances-footer {
    padding-top: 41%;
    width: 50%;
    order: 1;

    .btns-wrap {
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
    }

    .btn {
      max-width: 320px;
      width: 100%;
      margin: 20px auto 0;
    }
  }
}

@include respond-to($md) {
  .section-circumstances__inner {
    padding-top: 0;
    padding-bottom: 80px;
  }

  .circumstances-layout {
    flex-direction: column;
    align-items: center;
  }

  .circumstances-image {
    display: flex;
    position: relative;
    order: 1;
    margin-bottom: 40px;
  }

  .circumstances-content {
    width: 100%;
    max-width: 380px;
    order: 2;
  }

  .circumstances-footer {
    width: 100%;
    order: 3;
    padding-top: 60px;

    .btns-wrap {
      width: 100%;
      flex-direction: row;

      .btn {
        width: auto;
        max-width: none;
        padding: 20px 10px;
        flex-grow: 1;
        margin-right: 8px;
        margin-top: 0;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

@include respond-to($xs) {
  .section-circumstances {
    &__inner {
      padding-bottom: 64px;
    }

    .btns-wrap {
      display: block;
      width: 100%;

      .btn {
        margin-right: 0;
        margin-bottom: 10px;
        padding: 10px;
      }
    }

    .section-bg {
      height: 117px;
      background-size: 111px 140px;
    }
  }
  .circumstances-image {
    display: none !important;
  }
  .circumstances-item__title {
    font-size: 16px;
  }
  .circumstances-footer {
    padding-top: 40px;
  }
}

