.section-buy {
  background-image: url(../assets/img/bg-sect-buy.png);
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: 147px 635px;
  padding-bottom: 60px;
  padding-top: 60px;

  &__title {
    text-align: center;
    margin: 0 auto 60px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .title_lg {
    display: block;
  }

  .wrap-wgt {
    position: relative;
    width: 100%;
    padding-top: 60%;
    background-color: #FDE6D9;
    border-radius: 10px;
    overflow: hidden;
  }

  .geo-wgt {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

@include respond-to($md) {
  .section-buy {
    background-size: 147px 50%;
  }
}
@include respond-to($sm) {
  .section-buy {
    &__title {
      font-size: 34px;

      .title_lg {
        font-size: 40px;
      }
    }
  }
}

@include respond-to($xs) {
  .section-buy__title {
    font-size: 16px;
    line-height: 19px;
    .title_lg {
      font-size: 34px;
      line-height: 40px;
    }
    margin-bottom: 20px;
  }

  .section-buy {
    padding-bottom: 40px;
  }
}